@font-face {
  font-family: 'Hack';
  src: url(fonts/Hack-Regular.ttf);
}
html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:#081e2c;
    }

body {
  background: #081e2c;
  color: #c8bbbe;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: inline-block;
  padding-top: 5%;
  flex-direction: column;
  height: 80%;
  width: 100%;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.bookmark {
  display: flex;
  grid-column-gap: 32px;
  justify-content: center;
}

.bookmarks {
  flex-direction: column;
  border: #ff0000;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  align-items: center;
  padding-top: 20px;
  block-size: auto;
  padding-bottom: 20px;
  background: #001625;
}

.logo {
  align-self: center;
  padding: 20px;
}

.icon {
  align-self: center;
  justify-content: center;
  margin: 20px;
}


.input_box {
  border: none;
  outline: none;
  background: none;
  padding-right: 15px;
  padding-left: 15px;
  width: 500px;
  color: whitesmoke;
  font-size: 22px;
  border-radius: 0px 0px 0px 0px;
  height: 70px;
  text-align: left;
}
/*
.button {
  background: none;
  border: none;
  transition-duration: 0.6s;
  position: fixed;
  padding-left: 12px;
  padding-right: 12px;
  height: 70px;
  opacity: 60%;
}*/

.engine {
  background: none;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  transition-duration: 0.6s;
  position: relative;
  opacity: 60%;
}

form {
  margin: 0px;
  padding: 0px;
}

.search_box {
  display: flex;
  background: #001625;
  width: 600px;
  padding: 0px;
  margin-bottom: 40px;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  align-self: center;
  height: 70px;
}

.engine:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}

.input_box:hover {
  filter: saturate(150%) brightness(150%) !important;
  opacity: 100%;
}
input:focus::placeholder {
  color: transparent;
}
/*
.button:hover {
  filter: saturate(150%) brightness(120%) !important;
  opacity: 100%;
}*/

li {
  font-family: Hack;
  font-size: 16px;
  list-style-type: none;
  text-align:center;
  padding: 8px
}

a:link {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  color: #BD3CD3;
  font-size: 130%;
  margin: 0;
  font-weight: bold;
  transition: color .1s, font-weight .1s, font-size 0.1s ease-out;
  
}

div.search_box:hover{
  transform: scale(1.1);
  transition: transform 0.1s;
}

div.bookmarks:hover{
  transform: scale(1.1);
  transition: transform 0.1s;
}

div.bookmarks.cod a:hover {
  color: #00CF35;
}

div.bookmarks.doc a:hover {
  color: #FF8A00;
}

div.bookmarks.ent a:hover {
  color: #FF492F;
}

div.bookmarks.mus a:hover {
  color: #00B8FF;
}

div.bookmarks.art a:hover {
  color: #FF62CE;
}
